@model FastLearn.Models.CourseFile
@using FastLearn.Models;
@using FastLearn.com.Models;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{ 
    CourseFile courseFile = new CourseFile { };
    using (Html.BeginForm())
    {
        ApplicationDbContext db = new ApplicationDbContext();

        var getID = db.Users.First(u => u.UserName == User.Identity.Name);
        string uID = getID.Id;
        var items = db.Courses.FirstOrDefault(u => u.InstructorID == getID.Id);
        // db.CourseFiles.First(r=>r;
        var cid = items.ID;
        courseFile = new CourseFile { CourseID = items.ID };
        

        ViewBag.CourseFile = courseFile.CourseID;
        // var temp = courseFile;

        //foreach (var i in temp)
        //{
        //    course = new Course { ID = i.ID };
        //}
    @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>CourseFile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => courseFile.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseID, null, htmlAttributes: new { @class = "form-control" })
            
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    }